.Entete {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: rgb(97, 120, 143);
    color: white;
    position: sticky;
    top: 0;
    
    h1 {
        font-size: 1.4rem;
        padding: 1rem 2rem;
    }

    nav {
        padding: 1rem 2rem;
        display: flex;
        
        a {
            padding-left: 0.75rem;
            font-size: 1rem;
        }  
    }
}
